In [6]:
import numpy as np 
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [8]:
rand_arr = np.random.rand(len(x))
rand_arr

array([0.07559549, 0.83563935, 0.36618192, 0.47538255, 0.87401291])

In [2]:
#distance
from sklearn.metrics.pairwise import euclidean_distances
euclidean_distances([[2,5]] , [[3,7] , [2,7]])

array([[2.23606798, 2.        ]])

In [37]:
import pandas as pd
org_df = pd.read_excel('online_retail_II.xlsx')
org_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [38]:
df = org_df[["StockCode" , "Description" , "Country"]].copy()

In [39]:
df["Country"] = df["Country"].str.replace(" ", "_")
df["Description"] = df["Description"].str.replace(" ", "_")
df["Country"] = df["Country"].str.lower()
df["Description"] = df["Description"].str.lower()

In [42]:
df["MixedFeatures"] = df["StockCode"].astype(str) + " " + df["Description"] + " " + df["Country"]
df

,StockCode,Description,Country,MixedFeatures
0,85048,15cm_christmas_glass_ball_20_lights,united_kingdom,85048 15cm_christmas_glass_ball_20_lights unit...
1,79323P,pink_cherry_lights,united_kingdom,79323P pink_cherry_lights united_kingdom
2,79323W,_white_cherry_lights,united_kingdom,79323W _white_cherry_lights united_kingdom
3,22041,"record_frame_7""_single_size_",united_kingdom,"22041 record_frame_7""_single_size_ united_kingdom"
4,21232,strawberry_ceramic_trinket_box,united_kingdom,21232 strawberry_ceramic_trinket_box united_ki...
...,...,...,...,...
525456,22271,feltcraft_doll_rosie,united_kingdom,22271 feltcraft_doll_rosie united_kingdom
525457,22750,feltcraft_princess_lola_doll,united_kingdom,22750 feltcraft_princess_lola_doll united_kingdom
525458,22751,feltcraft_princess_olivia_doll,united_kingdom,22751 feltcraft_princess_olivia_doll united_ki...
525459,20970,pink_floral_feltcraft_shoulder_bag,united_kingdom,20970 pink_floral_feltcraft_shoulder_bag unite...
525460,21931,jumbo_storage_bag_suki,united_kingdom,21931 jumbo_storage_bag_suki united_kingdom

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(stop_words = "english")
df["MixedFeatures"] = df["MixedFeatures"].fillna("")
vector = vectorizer.fit_transform(df["MixedFeatures"])

In [55]:
from sklearn.metrics.pairwise import cosine_similarity

description = "15cm_christmas_glass_ball_20_lights"
item_index = df[df["Description"] == description].index[0]

item_vector = vector[item_index]
item_similarities = cosine_similarity(item_vector, vector).flatten()
item_df = pd.DataFrame({
    "Description": df["Description"],
    "Similarity": item_similarities
})
item_df = item_df[item_df.index != item_index].sort_values("Similarity", ascending=False).head(5)
item_df

                                Description  Similarity
13175   15cm_christmas_glass_ball_20_lights         1.0
11964   15cm_christmas_glass_ball_20_lights         1.0
492693  15cm_christmas_glass_ball_20_lights         1.0
15151   15cm_christmas_glass_ball_20_lights         1.0
491126  15cm_christmas_glass_ball_20_lights         1.0